* {text-align: center !important;}
body {
	font-size: 1.3em;
	font-weight: 100;
}
button {margin: 2em auto;}
div {
	margin: 10% auto 0;
	width: 75%;
}
abbr {color: #FFA;}
code {
	background: #474749;
	border-radius: 4px;
	padding: 0.1em 1em;
}
img {
	display: block;
	margin: 1em auto;
	width: 5em;
}
#error {width: 100%;}
