* { box-sizing: border-box; }
body { display: table; }
code, fieldset, textarea { border-radius: 0.3em; }
fieldset { width: 95vw; }
button, input, textarea, p { margin-left: 0.25em; }
button {
	margin-right: 0.5em;
	margin-top: 1em;
	padding: 0 0.75em;
}
textarea {
	font-family: "Consolas";
	font-weight: 100;
	width: 100%;
}
#days {
	background-color: #FFF;
	color: #000;
	text-align: center;
	width: 4em;
}
.fb {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
}
.fb * { margin: auto inherit; }
button[status-neutral]::after {
	content: attr(status-neutral);
}
button[status-success]::after {
	content: attr(status-success);
	color: #021;
	text-shadow: 0 0 0.2em #0F8;
}
button[status-failure]::after {
	content: attr(status-failure);
	color: #300;
	text-shadow: 0 0 0.2em #F00;
}
input[type="file"] {display: none;}
button label {margin: 0;}
#fakeFileInput {padding: 0;}
#save {
	float: right;
	font-weight: 700;
}
