* {
	margin: 0 auto;
	text-align: center;
}
body {
	padding: 2em;
	max-width: 30em;
}
button {max-width: 15em;}
span {
	font-weight: 100;
	margin-bottom: 1em;
	white-space: pre-line;
}
img {
	float: left;
	max-width: 3em;
}
#d_incognito {
	background: #474749;
	display: none;
	margin-bottom: 1em;
	padding: 0.5em;
}
#incognito {
	text-shadow: 1px 1px #000;
	font-size: 1.1em;
	font-weight: 700;
}
