* {
	font-weight: 100;
	margin: 0 auto;
	text-align: center;
}
body {
	padding: 2em;
	max-width: 30em;
}
button {max-width: 15em;}
span {
	margin-bottom: 1em;
	white-space: pre-line;
}
img {
	float: left;
	max-width: 3em;
}
#reasons {
	display: none;
	margin-bottom: 1em;
}
#reasons * {text-align: initial;}
#incognito {
	background: #474749;
	display: none;
	font-weight: 700;
	margin-bottom: 1em;
	padding: 0.5em;
	text-shadow: 1px 1px #000;
}
