* {
	box-sizing: border-box;
	text-align: center;
}
body {
	display: table;
	padding: 2em;
	width: 30em;
}
p { font-weight: 100; }
button { margin-left: 0.25em; }
#incognito {
	font-size: 1.1em;
	font-weight: 700;
	color: #166;
}
